.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/sample-playmaker-server-python-thrift.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
venv/
.venv/
utils/__pycache__/PFProcessServer.cpython-310.pyc
soccer/__pycache__/
scripts/proxy
scripts/rcssserver
__pycache__/
